{
	"parser": "babel-eslint",
	"extends": ["airbnb"],
	"rules": {
		"no-unused-vars": 0,
		"import/no-extraneous-dependencies": 0,
		"import/prefer-default-export": "off",
		"linebreak-style": ["error", "windows"],
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"no-tabs": 0,
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/prop-types": 0,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-one-expression-per-line": 0,
		"react/no-unescaped-entities": 0,
		"arrow-body-style": 0,
		"comma-dangle": ["error", "always-multiline"],
		"global-require": 0,
		"no-underscore-dangle": [
			"error",
			{ "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }
		],
		"jsx-a11y/click-events-have-key-events": 0,
		"jsx-a11y/no-static-element-interactions": 0,
		"operator-linebreak": [0, "none"],
		"no-unused-expressions": [2, { "allowTernary": true }],
		"dot-notation": [0, { "allowKeywords": false }],
		"no-unexpected-multiline": 0
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jest": true
	}
}
