@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: 'Ubuntu Light';
	src: url('../assets/fonts/Ubuntu-Light.ttf');
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../assets/fonts/Roboto-Light.ttf');
}
