// Abstract
@import 'abstract/variables';
@import 'abstract/mixins';
@import 'abstract/functions';

// Base
@import 'base/fonts';

// Layout
@import 'layout/header';
@import 'layout/spinner';

// Components
@import 'components/buttons';
@import 'components/media';
@import 'components/alert';

// Pages
@import 'pages/home';
@import 'pages/food';
@import 'pages/cart';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font: 40px 'Ubuntu Regular';
	color: $secondary-color;
}
