$primary-color: #1e266d;
$secondary-color: #ff2e69;
$body-background-color: #fff;
$logo-color: #e80c7a;
$header-background-color: #fff;

$hamburger-background-color: #24252a;
$hamburger-color: #e80c7a;
$hamburger-hover-color: darken($logo-color, 5%);
/*$hamburger-hover-color: #3751ff;*/
$star-color: #fcba03;
$cost-color: #fe734d;

$font-family: Arial, Helvetica, sans-serif;
$light-color: rgba(255, 68, 255, 0.267);

$alert-success-color: #69cb86;
$alert-danger-color: #e74c3c;
$alert-primary-color: #2194f3;
